


@media screen and (max-width: 991px) {
  
  .box_container:hover::before {
    width: 83%;
  }
  .box_container:hover::after {
    height: 99%;
  }
  .work_box:hover::before {
    width: 83%;
  }

  .work_box:hover::after {
    height: 99%;
  } 
  
}

@media screen and (max-width: 767px){
  .box_container:hover::before {
    width: 88%;
  }
  .box_container:hover::after {
    height: 100%;
  }
  .work_box:hover::before {
    width: 88%;
  }

  .work_box:hover::after {
    height: 100%;
  } 
}


@media screen and (max-width: 620px) {
  .box_container:hover::before {
    width: 87%;
  }
  .box_container:hover::after {
    height: 100%;
  }
  .work_box:hover::before {
    width: 87%;
  }

  .work_box:hover::after {
    height: 100%;
  } 
 
 
}

